html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1151px;
  width: 100%;
  margin: 0 auto;
}

body {
  background-color: rgb(15, 15, 15);
  font-family: "Arial GEO", sans-serif;
}

header {
  padding: 15px;
  position: fixed;
  z-index: 100000;
  top: 30px;
  left: 10%;
  width: 80%;
  background-color: rgba(29, 29, 29, 0.893);
  border-radius: 50px;
  -webkit-transition: opacity 0.5s, max-height 0.2s, border-radius 0.2s;
  transition: opacity 0.5s, max-height 0.2s, border-radius 0.2s;
  max-height: 90px;
  height: 100%;
}
header .fa-bars {
  display: none;
}
@media (max-width: 925px) {
  header .fa-bars {
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 31px;
  }
}
header .fa-bars::before {
  display: none;
  opacity: 0;
}
header .fa-bars .line {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #2945ff;
  margin: 5px auto;
  border-radius: 20px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
header .flex-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 925px) {
  header .flex-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
header .flex-box .main-logo {
  width: 168px;
  height: 58px;
  margin-right: 20px;
}
@media (max-width: 925px) {
  header .flex-box .main-logo {
    display: inline-block;
    position: absolute;
    left: 20px;
    top: 15px;
  }
}
header .flex-box nav {
  max-width: 500px;
  width: 100%;
}
@media (max-width: 925px) {
  header .flex-box nav {
    visibility: hidden;
    opacity: 0;
  }
}
header .flex-box nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .flex-box nav ul i {
  color: white;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}
header .flex-box nav ul i:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  color: #1d32ba;
}
@media (max-width: 550px) {
  header .flex-box nav ul i {
    position: absolute;
    right: 20px;
  }
}
@media (max-width: 550px) {
  header .flex-box nav ul {
    font-size: 13px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 200px;
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: auto;
  }
}
@media (max-width: 550px) {
  header .flex-box nav ul li {
    margin-bottom: 50px;
  }
  header .flex-box nav ul li:nth-child(4) {
    margin-left: 20px;
  }
}
header .flex-box nav ul button {
  padding: 14px 24px;
  border-radius: 24px;
  background-color: #2945ff;
  border: 1px solid #2945FF;
  color: white;
  cursor: pointer;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}
header .flex-box nav ul button a:hover {
  color: white;
}
header .flex-box nav ul button:hover {
  background-color: #1d32ba;
  border: 1px solid white;
}
@media (max-width: 550px) {
  header .flex-box nav ul button {
    padding: 10px 15px;
    margin-left: -20px;
  }
}
header .flex-box nav ul a {
  color: white;
  -webkit-transition: color 0.15s;
  transition: color 0.15s;
}
header .flex-box nav ul a:hover {
  color: #2945ff;
  font-weight: 500;
}

#nav.active {
  -webkit-transition: opacity 1s, visibility 1s;
  transition: opacity 1s, visibility 1s;
  visibility: visible;
  opacity: 1;
  margin-top: 90px;
}

header.active {
  max-height: 230px;
  height: 100%;
  border-radius: 45px;
}

.fa-bars.active .line:nth-child(2) {
  opacity: 0;
}

.fa-bars.active .line:nth-child(1) {
  -webkit-transform: translateY(8px) rotate(45deg);
      -ms-transform: translateY(8px) rotate(45deg);
          transform: translateY(8px) rotate(45deg);
}

.fa-bars.active .line:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(-45deg);
      -ms-transform: translateY(-8px) rotate(-45deg);
          transform: translateY(-8px) rotate(-45deg);
}

footer {
  height: auto;
  background-color: rgb(8, 8, 8);
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  width: 100%;
}
footer .footer-container {
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  padding-top: 50px;
}
footer .footer-container .footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 20px;
  border-bottom: 1px solid white;
  margin-bottom: 25px;
}
@media (max-width: 373px) {
  footer .footer-container .footer-top {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
footer .footer-container .footer-top .footer-logo {
  width: 168px;
  height: 58px;
}
@media (max-width: 373px) {
  footer .footer-container .footer-top .footer-logo {
    margin-bottom: 30px;
  }
}
footer .footer-container .footer-top .social-medias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 165px;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
footer .footer-container .footer-top .social-medias .fb,
footer .footer-container .footer-top .social-medias .twitter,
footer .footer-container .footer-top .social-medias .ig {
  border: 2px solid white;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  cursor: pointer;
  overflow: hidden;
}
footer .footer-container .footer-top .social-medias .fb i,
footer .footer-container .footer-top .social-medias .twitter i,
footer .footer-container .footer-top .social-medias .ig i {
  color: white;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}
footer .footer-container .footer-top .social-medias .fb:hover {
  border-color: #1d32ba;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
footer .footer-container .footer-top .social-medias .fb:hover i {
  color: #1d32ba;
}
footer .footer-container .footer-top .social-medias .twitter:hover {
  border-color: #1DA1F2;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
footer .footer-container .footer-top .social-medias .twitter:hover i {
  color: #1DA1F2;
}
footer .footer-container .footer-top .social-medias .ig:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}
footer .footer-container .footer-top .social-medias .ig:hover h1 {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  border-radius: 20px;
}
footer .footer-container .footer-top .social-medias .ig:hover h1 i {
  display: inline;
}
footer .footer-container .footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 588px) {
  footer .footer-container .footer-bottom {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
footer .footer-container .footer-bottom .footer-lists {
  color: white;
  text-align: start;
  display: inline-block;
  margin-right: 50px;
  margin-bottom: 50px;
}
@media (max-width: 588px) {
  footer .footer-container .footer-bottom .footer-lists {
    text-align: center;
  }
}
footer .footer-container .footer-bottom .footer-lists h1 {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 20px;
}
footer .footer-container .footer-bottom .footer-lists ul li {
  margin-bottom: 15px;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  cursor: pointer;
}
footer .footer-container .footer-bottom .footer-lists ul li a {
  color: white;
}
footer .footer-container .footer-bottom .footer-lists ul li a span {
  font-weight: 600;
  margin-right: 5px;
}
footer .footer-container .footer-bottom .footer-lists ul li a:hover {
  color: #1d32ba;
  text-decoration: underline;
}

body {
  height: 2085px;
}

.s1 {
  margin-top: 140px;
}
.s1 .carousel-inner {
  height: 590px;
  position: relative;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  border-radius: 20px;
}
@media (max-width: 550px) {
  .s1 .carousel-inner {
    width: 95%;
  }
}
.s1 .carousel-inner h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: 600;
  z-index: 10;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  font-size: 70px;
  line-height: 100px;
  background-color: rgba(29, 29, 29, 0.328);
  border-radius: 20px;
}
@media (max-width: 550px) {
  .s1 .carousel-inner h1 {
    font-size: 40px;
    line-height: 70px;
  }
}
.s1 .carousel-inner img {
  height: 610px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: blur(4px);
          filter: blur(4px);
}

.s2 {
  margin-top: 100px;
  margin-bottom: 150px;
}
.s2 .container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.s2 .flex-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 951px) {
  .s2 .flex-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.s2 .flex-content h1 {
  color: white;
  font-size: 50px;
  font-weight: 600;
  max-width: 390px;
  width: 100%;
  margin-bottom: 60px;
  line-height: 52px;
}
@media (max-width: 550px) {
  .s2 .flex-content h1 {
    font-size: 40px;
  }
}
.s2 .flex-content p {
  color: white;
  max-width: 443px;
  width: 100%;
  font-size: 18px;
  margin-bottom: 30px;
  line-height: 23px;
}
@media (max-width: 550px) {
  .s2 .flex-content p {
    font-size: 14px;
  }
}
.s2 .flex-content button {
  padding: 14px 24px;
  border-radius: 24px;
  background-color: #2945FF;
  border: 1px solid #2945FF;
  color: white;
  cursor: pointer;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}
.s2 .flex-content button:hover {
  background-color: #1d32ba;
  border: 1px solid white;
}
@media (max-width: 951px) {
  .s2 .flex-content button {
    margin-bottom: 100px;
  }
}
.s2 .flex-content .image-container {
  position: relative;
  max-width: 465px;
  width: 100%;
  height: 390px;
}
@media (max-width: 550px) {
  .s2 .flex-content .image-container {
    max-width: 300px;
    height: 300px;
  }
}
.s2 .flex-content .image-container .game-awards {
  max-width: 465px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
  height: 390px;
  position: static;
}
@media (max-width: 550px) {
  .s2 .flex-content .image-container .game-awards {
    max-width: 300px;
    height: 300px;
  }
}
.s2 .flex-content .image-container .dots1 {
  position: absolute;
  left: -20px;
  top: -20px;
  max-width: 124px;
  width: 100%;
  z-index: -1;
}
@media (max-width: 550px) {
  .s2 .flex-content .image-container .dots1 {
    max-width: 100px;
  }
}
.s2 .flex-content .image-container .dots2 {
  position: absolute;
  bottom: -20px;
  right: -20px;
  max-width: 124px;
  width: 100%;
  z-index: -1;
}
@media (max-width: 550px) {
  .s2 .flex-content .image-container .dots2 {
    max-width: 100px;
  }
}

body::-webkit-scrollbar {
  background-color: rgb(15, 15, 15);
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: #233ad1;
  border-radius: 50px;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: rgba(29, 50, 186, 0.7450980392);
}

input.btn {
  -webkit-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial;
}

body {
  height: auto;
}

.about-s1 {
  margin-bottom: 200px;
  padding: 20px;
}
.about-s1 .background {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  margin-top: 200px;
  border-radius: 20px;
  max-width: 1000px;
  width: 100%;
  height: 350px;
  background-color: rgba(29, 29, 29, 0.57);
  position: relative;
  padding: 20px;
}
.about-s1 .background p,
.about-s1 .background h5,
.about-s1 .background h1 {
  margin-left: 380px;
  color: white;
  max-width: 508px;
  width: 100%;
}
@media (max-width: 950px) {
  .about-s1 .background p,
  .about-s1 .background h5,
  .about-s1 .background h1 {
    max-width: 400px;
    width: 100%;
  }
}
@media (max-width: 821px) {
  .about-s1 .background p,
  .about-s1 .background h5,
  .about-s1 .background h1 {
    max-width: 300px;
    width: 100%;
  }
}
@media (max-width: 751px) {
  .about-s1 .background p,
  .about-s1 .background h5,
  .about-s1 .background h1 {
    max-width: 200px;
    width: 100%;
    margin-left: 280px;
  }
}
@media (max-width: 585px) {
  .about-s1 .background p,
  .about-s1 .background h5,
  .about-s1 .background h1 {
    margin-left: 250px;
  }
}
@media (max-width: 531px) {
  .about-s1 .background p,
  .about-s1 .background h5,
  .about-s1 .background h1 {
    margin-left: 200px;
  }
}
@media (max-width: 480px) {
  .about-s1 .background p,
  .about-s1 .background h5,
  .about-s1 .background h1 {
    max-width: 100px;
    width: 100%;
  }
}
.about-s1 .background h5 {
  font-weight: 600;
  margin-bottom: 20px;
}
@media (max-width: 416px) {
  .about-s1 .background h5 {
    margin-bottom: 20px;
    font-size: 10px;
  }
}
.about-s1 .background p {
  font-size: 20px;
}
@media (max-width: 950px) {
  .about-s1 .background p {
    font-size: 15px;
  }
}
@media (max-width: 480px) {
  .about-s1 .background p {
    font-size: 10px;
  }
}
@media (max-width: 416px) {
  .about-s1 .background p {
    max-width: 80px;
    width: 100%;
    margin-left: 210px;
  }
}
.about-s1 .background h1 {
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 40px;
}
@media (max-width: 950px) {
  .about-s1 .background h1 {
    font-size: 35px;
  }
}
@media (max-width: 585px) {
  .about-s1 .background h1 {
    font-size: 30px;
  }
}
@media (max-width: 480px) {
  .about-s1 .background h1 {
    font-size: 20px;
  }
}
@media (max-width: 416px) {
  .about-s1 .background h1 {
    margin-bottom: 20px;
    font-size: 13px;
  }
}
.about-s1 .background .box1 {
  position: absolute;
  height: 450px;
  max-width: 300px;
  width: 100%;
  border-radius: 20px;
  left: 50px;
  top: -50px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 751px) {
  .about-s1 .background .box1 {
    max-width: 200px;
    width: 100%;
  }
}
@media (max-width: 531px) {
  .about-s1 .background .box1 {
    left: 10px;
  }
}

.about-s2 {
  margin-left: 10px;
}
.about-s2 .info-container {
  max-width: 1265px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.about-s2 .info-container .box2 {
  margin-bottom: 50px;
  background-color: rgba(29, 29, 29, 0.57);
  max-width: 370px;
  width: 100%;
  height: 568px;
  border-radius: 20px;
  text-align: center;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
@media (max-width: 545px) {
  .about-s2 .info-container .box2 {
    max-width: 330px;
    width: 100%;
  }
}
.about-s2 .info-container .box2:hover .text-box {
  bottom: 218px;
  border-top-left-radius: 0%;
  border-top-right-radius: 0%;
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
  background-color: rgb(44, 44, 44);
}
.about-s2 .info-container .box2:hover .img1 {
  opacity: 0;
}
.about-s2 .info-container .box2:hover .img2 {
  opacity: 1;
}
.about-s2 .info-container .box2 .text-box {
  width: 390px;
  background-color: rgb(29, 29, 29);
  border-top-left-radius: 20%;
  border-top-right-radius: 20%;
  height: 350px;
  left: -10px;
  position: absolute;
  bottom: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
@media (max-width: 545px) {
  .about-s2 .info-container .box2 .text-box {
    width: 350px;
  }
}
.about-s2 .info-container .box2 .text-box h2 {
  margin-top: 50px;
  color: white;
  font-size: 30px;
  font-weight: 600;
  padding: 0 10px 10px 10px;
}
.about-s2 .info-container .box2 .text-box p {
  color: white;
  padding: 20px;
}
.about-s2 .info-container .box2 img {
  width: 100%;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  height: 300px;
}
.about-s2 .info-container .box2 .img2 {
  position: relative;
  bottom: 0px;
  z-index: -1;
  height: 400px;
  opacity: 0;
}
.about-s2 .info-container .box2 .box3 {
  background-color: rgba(29, 29, 29, 0.57);
  max-width: 370px;
  width: 100%;
  height: 568px;
  border-radius: 20px;
  text-align: center;
  padding: 10px;
}

.y2014-s1 {
  margin-top: 150px;
}
.y2014-s1 .nominees {
  display: block;
  height: 1200px;
}
@media (max-width: 1015px) {
  .y2014-s1 .nominees {
    height: 1800px;
  }
}
@media (max-width: 690px) {
  .y2014-s1 .nominees {
    height: 3300px;
  }
}
.y2014-s1 .container {
  max-width: 1300px;
  width: 100%;
  height: 200px;
  margin: 0 auto;
  margin-top: 50px;
  position: relative;
}

.nominees .nominees-title {
  color: white;
  font-size: 70px;
  text-align: center;
}
@media (max-width: 550px) {
  .nominees .nominees-title {
    font-size: 40px;
  }
}

.nominees-flex-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 100px;
  align-items: center;
}
.nominees-flex-box .card1 {
  max-width: 330px;
  margin-bottom: 50px;
  width: 100%;
  height: 470px;
  position: relative;
  border-radius: 20px;
  cursor: pointer;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}
.nominees-flex-box .card1:hover {
  background-color: rgba(29, 29, 29, 0.661);
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.nominees-flex-box .card1:hover .nominees-img {
  max-width: 330px;
  height: 260px;
}
.nominees-flex-box .card1:hover .vid1 {
  max-width: 330px;
  height: 260px;
  opacity: 1;
}
.nominees-flex-box .card1 .nominees-img {
  max-width: 320px;
  width: 100%;
  height: 250px;
  padding: 10px;
  left: 4px;
  top: 5px;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  border-radius: 20px;
}
.nominees-flex-box .card1 .vid1 {
  max-width: 320px;
  width: 100%;
  height: 250px;
  padding: 10px;
  left: 4px;
  top: 5px;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  opacity: 0;
  border-radius: 20px;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.nominees-flex-box .card1 .nominee-title {
  position: absolute;
  bottom: 105px;
  left: 10px;
  color: white;
  font-size: 35px;
  max-width: 230px;
  width: 100%;
  padding: 10px;
  display: inline-block;
  margin: 0;
  font-weight: 600;
  padding: 0;
}
@media (max-width: 550px) {
  .nominees-flex-box .card1 .nominee-title {
    font-size: 30px;
  }
}
.nominees-flex-box .card1 .nominee-developer {
  color: rgb(171, 171, 171);
  position: absolute;
  font-size: 14px;
  left: 10px;
  bottom: 75px;
  opacity: 0.8;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  width: auto;
  margin: 0;
  padding: 10px;
  padding: 0;
}
.nominees-flex-box .card1 .nominees-more {
  color: rgb(171, 171, 171);
  position: absolute;
  font-size: 14px;
  left: 10px;
  bottom: 10px;
  opacity: 0.8;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  width: auto;
  margin: 0;
  padding: 14px 24px;
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid #5C8692;
  color: white;
  cursor: pointer;
  transition: all 0.15s;
}
.nominees-flex-box .card1 .nominees-more:hover {
  background-color: #5C8692;
  border: 1px solid white;
}

.winner {
  margin-top: 10px;
  height: auto;
  text-align: center;
}
.winner .text-container {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 100px;
}
.winner .text-container h1 {
  color: white;
  font-size: 50px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 50px;
}
.winner .text-container p {
  color: white;
  font-size: 18px;
  max-width: 500px;
  width: 100%;
  text-align: center;
}
.winner .winner-box {
  opacity: 0;
  background-color: rgba(29, 29, 29, 0.661);
  max-width: 310px;
  width: 100%;
  margin: 0 auto;
  height: 553px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  z-index: 10;
  cursor: pointer;
  border-radius: 20px;
  -webkit-transition: opacity 4s, max-width 1s;
  transition: opacity 4s, max-width 1s;
  margin-bottom: 100px;
}
@media (max-width: 676px) {
  .winner .winner-box {
    max-width: 200px;
    height: 400px;
  }
}
@media (max-width: 415px) {
  .winner .winner-box {
    max-width: 150px;
    height: 400px;
  }
}
.winner .winner-box .fa-trophy {
  position: absolute;
  z-index: 10;
  right: -5px;
  top: 5px;
}
.winner .winner-box p {
  opacity: 0;
  max-width: 300px;
  width: 100%;
  position: absolute;
  z-index: -3;
  right: 40px;
  top: 30px;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  color: white;
}
@media (max-width: 676px) {
  .winner .winner-box p {
    font-size: 10px;
    max-width: 200px;
    right: 0px;
    top: 40px;
  }
}
.winner .winner-box p a {
  color: #1d32ba;
}
.winner .winner-box p a:hover {
  text-decoration: underline;
}
.winner .winner-box button {
  position: absolute;
  padding: 14px 24px;
  border-radius: 24px;
  background-color: #5C8692;
  border: 1px solid #5C8692;
  color: white;
  cursor: pointer;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  right: 90px;
  bottom: 40px;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-in-out, background-color 0.15s, border 0.15s;
  transition: opacity 0.4s ease-in-out, background-color 0.15s, border 0.15s;
}
.winner .winner-box button:hover {
  background-color: #47666f;
  border: 1px solid white;
}
@media (max-width: 676px) {
  .winner .winner-box button {
    font-size: 13px;
    padding: 10px 10px;
    right: 30px;
  }
}
.winner .winner-box:hover {
  z-index: 10;
  max-width: 700px;
}
@media (max-width: 676px) {
  .winner .winner-box:hover {
    max-width: 400px;
  }
}
@media (max-width: 415px) {
  .winner .winner-box:hover {
    max-width: 350px;
    height: 400px;
  }
}
.winner .winner-box:hover p {
  display: block;
  opacity: 1;
}
.winner .winner-box:hover button {
  opacity: 1;
}
.winner .winner-box .winner-img {
  -webkit-transition: -webkit-box-shadow 2s;
  transition: -webkit-box-shadow 2s;
  transition: box-shadow 2s;
  transition: box-shadow 2s, -webkit-box-shadow 2s;
  display: inline-block;
  max-width: 310px;
  position: relative;
  width: 100%;
  height: 553px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px -200px 68px 53px rgba(0, 0, 0, 0.64) inset;
  -webkit-box-shadow: 0px -200px 68px 53px rgba(0, 0, 0, 0.64) inset;
  -moz-box-shadow: 0px -200px 68px 53px rgba(0, 0, 0, 0.64) inset;
}
@media (max-width: 676px) {
  .winner .winner-box .winner-img {
    max-width: 200px;
    width: 100%;
    height: 400px;
  }
}
@media (max-width: 415px) {
  .winner .winner-box .winner-img {
    max-width: 150px;
    width: 100%;
    height: 400px;
  }
}
.winner .winner-box .winner-img h5 {
  position: absolute;
  color: white;
  font-size: 50px;
  font-weight: 600;
  text-align: center;
  bottom: 50px;
}
@media (max-width: 676px) {
  .winner .winner-box .winner-img h5 {
    font-size: 30px;
  }
}
@media (max-width: 415px) {
  .winner .winner-box .winner-img h5 {
    font-size: 20px;
  }
}
.winner .winner-box .winner-img img {
  max-width: 310px;
  width: 100%;
  position: relative;
  height: 553px;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -2;
}
@media (max-width: 676px) {
  .winner .winner-box .winner-img img {
    max-width: 200px;
    width: 100%;
    height: 400px;
  }
}

.year-text {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  background-color: rgba(29, 29, 29, 0.328);
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
  border-radius: 20px;
}
.year-text h1 {
  color: white;
  font-size: 60px;
  font-weight: 600;
  display: inline-block;
  padding: 30px;
}
.year-text p {
  color: white;
  font-size: 18px;
  max-width: 500px;
  text-align: center;
  width: 100%;
  top: 250px;
  display: inline-block;
  padding: 30px;
}
.year-text iframe {
  padding: 20px;
  border-radius: 30px;
  max-width: 450px;
  width: 100%;
}

.contact-s1 {
  padding: 10px;
}

.contact-container {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  margin-top: 200px;
  background-color: rgb(29, 29, 29);
  text-align: center;
  padding: 30px;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-bottom: 100px;
}
.contact-container h1 {
  font-size: 50px;
  color: white;
  margin-bottom: 50px;
}
.contact-container p {
  color: white;
}
.contact-container:hover {
  background-color: #12207c;
}
.contact-container:hover .background-box {
  top: 0;
  right: 0;
}

.contact-s2 {
  padding: 10px;
  margin-bottom: 100px;
}
.contact-s2 .s2-container {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: rgba(29, 29, 29, 0.444);
  padding: 20px;
  border-radius: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
}
.contact-s2 .s2-container .icon-box {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #12207c;
  border-radius: 20px;
  width: 120px;
  height: 130px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
@media (max-width: 420px) {
  .contact-s2 .s2-container .icon-box {
    margin-bottom: 50px;
  }
}
.contact-s2 .s2-container .icon-box h5 {
  color: #2945ff;
  font-weight: 600;
  display: inline-block;
  margin-bottom: 10px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.contact-s2 .s2-container .icon-box i {
  margin-bottom: 25px;
  margin-top: 25px;
  color: rgb(41, 69, 255);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.contact-s2 .s2-container .icon-box p {
  color: #2945ff;
  font-size: 14px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.contact-s2 .s2-container .icon-box p a {
  color: #2945ff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.contact-s2 .s2-container .icon-box:hover {
  border: 2px solid white;
  background-color: #2945ff;
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}
.contact-s2 .s2-container .icon-box:hover i {
  color: white;
}
.contact-s2 .s2-container .icon-box:hover h5 {
  color: white;
}
.contact-s2 .s2-container .icon-box:hover p {
  color: white;
}
.contact-s2 .s2-container .icon-box:hover p a {
  color: white;
}

.contact-s3 {
  padding: 20px;
  margin-bottom: 100px;
}
.contact-s3 .form-container {
  padding: 20px;
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  background-color: rgba(29, 29, 29, 0.444);
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 500px;
}
.contact-s3 .form-container form {
  max-width: 500px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
.contact-s3 .form-container form input,
.contact-s3 .form-container form .subject {
  max-width: 500px;
  width: 100%;
  font-family: Arial, "Fontawesome";
}
.contact-s3 .form-container form .name,
.contact-s3 .form-container form .email,
.contact-s3 .form-container form .phone,
.contact-s3 .form-container form .subject {
  padding: 15px 20px;
  outline: none;
  border-radius: 20px;
  color: white;
  background-color: rgba(52, 52, 52, 0.444);
  border: 2px solid rgba(52, 52, 52, 0.444);
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}
.contact-s3 .form-container form .name:focus,
.contact-s3 .form-container form .email:focus,
.contact-s3 .form-container form .phone:focus,
.contact-s3 .form-container form .subject:focus {
  border: 2px solid #12207c;
  color: #2945ff;
}
.contact-s3 .form-container form .subject {
  max-height: 150px;
  resize: none;
}
.contact-s3 .form-container form .submit {
  width: 100px;
  padding: 15px 20px;
  border: 1px solid #2945ff;
  background-color: #2945ff;
  color: white;
  border-radius: 15px;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}
.contact-s3 .form-container form .submit:hover {
  background-color: #12207c;
  border: 1px solid white;
}

.history-s1 {
  margin-top: 140px;
  text-align: center;
  height: 1000px;
  padding: 20px;
}
.history-s1 .years-container {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
}
.history-s1 .years-container h1 {
  color: white;
  margin-bottom: 200px;
  font-size: 60px;
}
@media (max-width: 700px) {
  .history-s1 .years-container h1 {
    font-size: 40px;
    margin-left: 20px;
    margin-bottom: 240px;
  }
}
.history-s1 .years-container .years-div1 {
  position: relative;
  max-width: 220px;
  height: 200px;
  border-radius: 20px;
  width: 100%;
  text-align: center;
  background-color: rgb(29, 29, 29);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  margin-right: 50px;
  margin-bottom: 100px;
}
@media (max-width: 700px) {
  .history-s1 .years-container .years-div1 {
    margin-left: 50px;
    max-width: 100px;
    height: 100px;
  }
}
.history-s1 .years-container .years-div1 img {
  max-width: 220px;
  height: 200px;
  border-radius: 20px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 700px) {
  .history-s1 .years-container .years-div1 img {
    max-width: 100px;
    height: 100px;
  }
}
.history-s1 .years-container .years-div1:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}
.history-s1 .years-container .years-div1:hover .box {
  right: -85%;
  top: -70%;
  width: 600px;
  height: 500px;
}
@media (max-width: 700px) {
  .history-s1 .years-container .years-div1:hover .box {
    right: -100%;
    top: -185%;
    width: 300px;
    height: 500px;
  }
}
.history-s1 .years-container .years-div1:hover .box h5 {
  opacity: 1;
  z-index: 10000;
}
.history-s1 .years-container .years-div1 .box {
  position: absolute;
  height: 200px;
  float: right;
  width: 220px;
  background-color: rgba(41, 70, 255, 0.3137254902);
  border-radius: 20px;
  top: -20px;
  right: -20px;
  opacity: 0.7;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: -2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-y: scroll;
  text-align: center;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}
@media (max-width: 700px) {
  .history-s1 .years-container .years-div1 .box {
    width: 100px;
    height: 100px;
  }
}
.history-s1 .years-container .years-div1 .box::-webkit-scrollbar {
  display: none;
}
.history-s1 .years-container .years-div1 .box h5 {
  font-size: 40px;
  color: white;
  position: absolute;
  opacity: 0;
  padding: 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.history-s1 .years-container .years-div1 .box h5 a {
  color: white;
}
@media (max-width: 700px) {
  .history-s1 .years-container .years-div1 .box h5 {
    font-size: 25px;
  }
}
.history-s1 .years-container .years-div1 .box .years-text1 {
  left: 30px;
  top: 30px;
  border-radius: 20px;
  border-bottom-right-radius: 0px;
}
@media (max-width: 700px) {
  .history-s1 .years-container .years-div1 .box .years-text1 {
    left: 0px;
  }
}
.history-s1 .years-container .years-div1 .box .years-text1:hover {
  background-color: rgba(29, 29, 29, 0.328);
}
.history-s1 .years-container .years-div1 .box .years-text2 {
  left: 30px;
  top: 200px;
  border-radius: 20px;
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
}
@media (max-width: 700px) {
  .history-s1 .years-container .years-div1 .box .years-text2 {
    left: 0px;
  }
}
.history-s1 .years-container .years-div1 .box .years-text2:hover {
  background-color: rgba(29, 29, 29, 0.328);
}
.history-s1 .years-container .years-div1 .box .years-text3 {
  left: 30px;
  top: 380px;
  border-radius: 20px;
  border-top-right-radius: 0px;
}
@media (max-width: 700px) {
  .history-s1 .years-container .years-div1 .box .years-text3 {
    left: 0px;
  }
}
.history-s1 .years-container .years-div1 .box .years-text3:hover {
  background-color: rgba(29, 29, 29, 0.328);
}
.history-s1 .years-container .years-div1 .box .years-text4 {
  top: 380px;
  border-radius: 20px;
  border-top-right-radius: 100%;
  border-top-left-radius: 100%;
}
.history-s1 .years-container .years-div1 .box .years-text4:hover {
  background-color: rgba(29, 29, 29, 0.328);
}
.history-s1 .years-container .years-div1 .box .years-text5 {
  right: 30px;
  top: 380px;
  border-radius: 20px;
  border-top-left-radius: 0px;
}
@media (max-width: 700px) {
  .history-s1 .years-container .years-div1 .box .years-text5 {
    right: 0px;
  }
}
.history-s1 .years-container .years-div1 .box .years-text5:hover {
  background-color: rgba(29, 29, 29, 0.328);
}
.history-s1 .years-container .years-div1 .box .years-text6 {
  right: 30px;
  top: 200px;
  border-radius: 20px;
  border-top-left-radius: 100%;
  border-bottom-left-radius: 100%;
}
@media (max-width: 700px) {
  .history-s1 .years-container .years-div1 .box .years-text6 {
    right: 0px;
  }
}
.history-s1 .years-container .years-div1 .box .years-text6:hover {
  background-color: rgba(29, 29, 29, 0.328);
}
.history-s1 .years-container .years-div1 .box .years-text7 {
  right: 30px;
  top: 30px;
  border-radius: 20px;
  border-bottom-left-radius: 0px;
}
@media (max-width: 700px) {
  .history-s1 .years-container .years-div1 .box .years-text7 {
    right: 0px;
  }
}
.history-s1 .years-container .years-div1 .box .years-text7:hover {
  background-color: rgba(29, 29, 29, 0.328);
}
.history-s1 .years-container .years-div1 .box .years-text8 {
  top: 60px;
  border-radius: 20px;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
}
.history-s1 .years-container .years-div1 .box .years-text8:hover {
  background-color: rgba(29, 29, 29, 0.328);
}
.history-s1 .years-container .years-div1 .box .years-text9 {
  top: 0px;
  border-radius: 20px;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
}
.history-s1 .years-container .years-div1 .box .years-text9:hover {
  background-color: rgba(29, 29, 29, 0.328);
}/*# sourceMappingURL=global.css.map */