html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1151px;
  width: 100%;
  margin: 0 auto;
}

body {
  background-color: rgb(15, 15, 15);
  height: 3000px;
  font-family: "Arial GEO", sans-serif;
}

::-webkit-scrollbar-thumb {
  background-color: #1d32ba;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

header {
  padding: 15px;
  position: fixed;
  z-index: 100000;
  top: 30px;
  left: 10%;
  width: 80%;
  background-color: rgba(29, 29, 29, 0.661);
  border-radius: 50px;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
header .flex-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .flex-box .main-logo {
  width: 168px;
}
header .flex-box nav {
  max-width: 500px;
  width: 100%;
}
header .flex-box nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .flex-box nav ul button {
  padding: 14px 24px;
  border-radius: 24px;
  background-color: #2945FF;
  border: 1px solid #2945FF;
  color: white;
  cursor: pointer;
  -webkit-transition: all 0.15s;
  -o-transition: all 0.15s;
  transition: all 0.15s;
}
header .flex-box nav ul button:hover {
  background-color: #1d32ba;
  border: 1px solid white;
}
header .flex-box nav ul a {
  color: white;
}

.s1 {
  margin-top: 140px;
}
.s1 .carousel-inner {
  height: 590px;
  position: relative;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  border-radius: 20px;
}
.s1 .carousel-inner h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: 600;
  z-index: 10;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  font-size: 70px;
  line-height: 100px;
  background-color: rgba(29, 29, 29, 0.328);
  border-radius: 20px;
}
.s1 .carousel-inner img {
  height: 610px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: blur(4px);
          filter: blur(4px);
}

.s2 {
  margin-top: 100px;
  margin-bottom: 50px;
}
.s2 .container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.s2 .flex-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@-webkit-keyframes fadeIn {
  0% {
    max-width: 1100px;
    height: 500px;
    opacity: 0;
  }
  100% {
    max-width: 1200px;
    height: 527px;
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    max-width: 1100px;
    height: 500px;
    opacity: 0;
  }
  100% {
    max-width: 1200px;
    height: 527px;
    opacity: 1;
  }
}
.s2 .flex-content h1 {
  color: white;
  font-size: 50px;
  font-weight: 600;
  max-width: 390px;
  width: 100%;
  margin-bottom: 60px;
  line-height: 52px;
}
.s2 .flex-content p {
  color: white;
  max-width: 443px;
  width: 100%;
  font-size: 18px;
  margin-bottom: 30px;
  line-height: 23px;
}
.s2 .flex-content button {
  padding: 14px 24px;
  border-radius: 24px;
  background-color: #2945FF;
  border: 1px solid #2945FF;
  color: white;
  cursor: pointer;
  -webkit-transition: all 0.15s;
  -o-transition: all 0.15s;
  transition: all 0.15s;
}
.s2 .flex-content button:hover {
  background-color: #1d32ba;
  border: 1px solid white;
}
.s2 .flex-content .image-container {
  position: relative;
  max-width: 465px;
  width: 100%;
  height: 390px;
}
.s2 .flex-content .image-container .game-awards {
  max-width: 465px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
  height: 390px;
  position: static;
}
.s2 .flex-content .image-container .dots1 {
  position: absolute;
  left: -20px;
  top: -20px;
  z-index: -1;
}
.s2 .flex-content .image-container .dots2 {
  position: absolute;
  bottom: -20px;
  right: -20px;
  z-index: -1;
}

.s3 {
  margin-bottom: 250px;
  border-bottom: 1px solid rgba(218, 234, 239, 0.204);
  padding-bottom: 50px;
}
.s3 .nominees {
  display: block;
  position: static;
  height: 1200px;
}
.s3 .container {
  max-width: 1300px;
  width: 100%;
  height: 200px;
  margin: 0 auto;
  margin-top: 50px;
  position: relative;
}

.nominees .nominees-title {
  color: white;
  font-size: 70px;
  text-align: center;
}

.nominees-flex-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 100px;
  align-items: center;
}
.nominees-flex-box .card1 {
  max-width: 330px;
  margin-bottom: 50px;
  width: 100%;
  height: 470px;
  position: relative;
  border-radius: 20px;
  cursor: pointer;
  -webkit-transition: all 0.15s;
  -o-transition: all 0.15s;
  transition: all 0.15s;
}
.nominees-flex-box .card1:hover {
  background-color: rgba(29, 29, 29, 0.661);
  max-width: 340px;
  height: 480px;
}
.nominees-flex-box .card1:hover .nominees-img {
  max-width: 330px;
  height: 260px;
}
.nominees-flex-box .card1:hover .vid1 {
  max-width: 330px;
  height: 260px;
  opacity: 1;
}
.nominees-flex-box .card1 .nominees-img {
  max-width: 320px;
  width: 100%;
  height: 250px;
  padding: 10px;
  left: 4px;
  top: 5px;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  -webkit-transition: all 0.15s;
  -o-transition: all 0.15s;
  transition: all 0.15s;
  border-radius: 20px;
}
.nominees-flex-box .card1 .vid1 {
  max-width: 320px;
  width: 100%;
  height: 250px;
  padding: 10px;
  left: 4px;
  top: 5px;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  -webkit-transition: all 0.15s;
  -o-transition: all 0.15s;
  transition: all 0.15s;
  opacity: 0;
  border-radius: 20px;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.nominees-flex-box .card1 .nominee-title {
  position: absolute;
  bottom: 105px;
  left: 10px;
  color: white;
  font-size: 40px;
  max-width: 230px;
  width: 100%;
  padding: 10px;
  display: inline-block;
  margin: 0;
  font-weight: 600;
  padding: 0;
}
.nominees-flex-box .card1 .nominee-developer {
  color: rgb(171, 171, 171);
  position: absolute;
  font-size: 14px;
  left: 10px;
  bottom: 75px;
  opacity: 0.8;
  -webkit-transition: all 0.15s;
  -o-transition: all 0.15s;
  transition: all 0.15s;
  width: auto;
  margin: 0;
  padding: 10px;
  padding: 0;
}
.nominees-flex-box .card1 .nominees-more {
  color: rgb(171, 171, 171);
  position: absolute;
  font-size: 14px;
  left: 10px;
  bottom: 10px;
  opacity: 0.8;
  -webkit-transition: all 0.15s;
  -o-transition: all 0.15s;
  transition: all 0.15s;
  width: auto;
  margin: 0;
  padding: 14px 24px;
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid #5C8692;
  color: white;
  cursor: pointer;
  transition: all 0.15s;
}
.nominees-flex-box .card1 .nominees-more:hover {
  background-color: #5C8692;
  border: 1px solid white;
}

.winner {
  margin-top: 10px;
  height: auto;
  text-align: center;
}
.winner .text-container {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 100px;
}
.winner .text-container h1 {
  color: white;
  font-size: 50px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 50px;
}
.winner .text-container p {
  color: white;
  font-size: 18px;
  max-width: 500px;
  width: 100%;
  text-align: center;
}
.winner .winner-box {
  opacity: 0;
  background-color: rgba(29, 29, 29, 0.661);
  max-width: 310px;
  width: 100%;
  margin: 0 auto;
  height: 553px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  z-index: 10;
  cursor: pointer;
  border-radius: 20px;
  -webkit-transition: opacity 4s, max-width 1s;
  -o-transition: opacity 4s, max-width 1s;
  transition: opacity 4s, max-width 1s;
}
.winner .winner-box .fa-trophy {
  position: absolute;
  z-index: 10;
  right: -5px;
  top: 5px;
}
.winner .winner-box p {
  opacity: 0;
  max-width: 300px;
  width: 100%;
  position: absolute;
  right: 40px;
  top: 30px;
  -webkit-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  color: white;
}
.winner .winner-box p a {
  color: #1d32ba;
}
.winner .winner-box p a:hover {
  text-decoration: underline;
}
.winner .winner-box button {
  position: absolute;
  padding: 14px 24px;
  border-radius: 24px;
  background-color: #5C8692;
  border: 1px solid #5C8692;
  color: white;
  cursor: pointer;
  -webkit-transition: all 0.15s;
  -o-transition: all 0.15s;
  transition: all 0.15s;
  right: 90px;
  bottom: 40px;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-in-out, background-color 0.15s, border 0.15s;
  -o-transition: opacity 0.4s ease-in-out, background-color 0.15s, border 0.15s;
  transition: opacity 0.4s ease-in-out, background-color 0.15s, border 0.15s;
}
.winner .winner-box button:hover {
  background-color: #47666f;
  border: 1px solid white;
}
.winner .winner-box:hover {
  z-index: 10;
  max-width: 700px;
}
.winner .winner-box:hover p {
  display: block;
  opacity: 1;
}
.winner .winner-box:hover button {
  opacity: 1;
}
.winner .winner-box .winner-img {
  -webkit-transition: -webkit-box-shadow 2s;
  transition: -webkit-box-shadow 2s;
  -o-transition: box-shadow 2s;
  transition: box-shadow 2s;
  transition: box-shadow 2s, -webkit-box-shadow 2s;
  display: inline-block;
  max-width: 310px;
  position: relative;
  width: 100%;
  height: 553px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px -200px 68px 53px rgba(0, 0, 0, 0.64) inset;
  -webkit-box-shadow: 0px -200px 68px 53px rgba(0, 0, 0, 0.64) inset;
  -moz-box-shadow: 0px -200px 68px 53px rgba(0, 0, 0, 0.64) inset;
}
.winner .winner-box .winner-img h5 {
  position: absolute;
  color: white;
  font-size: 50px;
  font-weight: 600;
  text-align: center;
  bottom: 50px;
}
.winner .winner-box .winner-img img {
  max-width: 310px;
  width: 100%;
  position: relative;
  height: 553px;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -2;
}

.year-text {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  background-color: rgba(29, 29, 29, 0.328);
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
  border-radius: 20px;
}
.year-text h1 {
  color: white;
  font-size: 60px;
  font-weight: 600;
  display: inline-block;
  padding: 30px;
}
.year-text p {
  color: white;
  font-size: 18px;
  max-width: 500px;
  text-align: center;
  width: 100%;
  top: 250px;
  display: inline-block;
  padding: 30px;
}

.s4 {
  margin-bottom: 250px;
  border-bottom: 1px solid rgba(218, 234, 239, 0.204);
  padding-bottom: 50px;
}
.s4 .year-text {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  background-color: rgba(29, 29, 29, 0.328);
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
  border-radius: 20px;
}
.s4 .year-text h1 {
  color: white;
  font-size: 60px;
  font-weight: 600;
  display: inline-block;
  padding: 30px;
}
.s4 .year-text p {
  color: white;
  font-size: 18px;
  max-width: 500px;
  text-align: center;
  width: 100%;
  top: 250px;
  display: inline-block;
  padding: 30px;
}

body::-webkit-scrollbar {
  background-color: rgb(15, 15, 15);
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: #233ad1;
  border-radius: 50px;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: rgba(29, 50, 186, 0.7450980392);
}/*# sourceMappingURL=global.css.map */