// s1
.s1 {
    margin-top: 140px;

    .carousel-inner {
        height: 590px;
        position: relative;
        text-align: center;
        width: 80%;
        margin: 0 auto;
        border-radius: 20px;

        h1 {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 10;
            transform: translate(-50%, -50%);
            color: white;
            font-weight: 900;
            font-size: 70px;
            line-height: 100px;
            -webkit-text-stroke: black 0.5px;

        }

        img {
            height: 610px;
            object-fit: cover;
            filter: blur(4px);
        }

    }
}

// s2

.s2 {
    margin-top: 100px;

    .container {
        @include myContainer(1200px);
    }

    .flex-content {
        display: flex;
        justify-content: space-between;

        h1 {
            color: white;
            font-size: 50px;
            max-width: 390px;
            width: 100%;
            margin-bottom: 60px;
            line-height: 52px;
        }

        p {
            color: white;
            max-width: 443px;
            width: 100%;
            font-size: 18px;
            margin-bottom: 30px;
            line-height: 23px;
        }


        button {
            padding: 14px 24px;
            border-radius: 24px;
            background-color: #2945FF;
            border: 1px solid #2945FF;
            color: white;
            cursor: pointer;
            transition: all 0.15s;

            &:hover {
                background-color: #1d32ba;
                border: 1px solid white;
            }
        }

        .image-container {
            position: relative;
            max-width: 465px;
            width: 100%;
            height: 390px;

            .game-awards {
                max-width: 465px;
                width: 100%;
                object-fit: cover;
                border-radius: 20px;
                height: 390px;
                position: static;
            }

            .dots1 {
                position: absolute;
                left: -20px;
                top: -20px;
                z-index: -1;
            }

            .dots2 {
                position: absolute;
                bottom: -20px;
                right: -20px;
                z-index: -1;
            }
        }

    }


}