// s1
body {
    height: 2085px;
}

.s1 {
    margin-top: 140px;

    .carousel-inner {
        height: 590px;
        position: relative;
        text-align: center;
        width: 80%;
        margin: 0 auto;
        border-radius: 20px;

        @media (max-width: 550px) {
            width: 95%;
        }

        h1 {
            position: absolute;
            top: 50%;
            left: 50%;
            font-weight: 600;
            z-index: 10;
            transform: translate(-50%, -50%);
            color: white;
            font-size: 70px;
            line-height: 100px;
            background-color: rgba(29, 29, 29, 0.328);
            border-radius: 20px;

            @media (max-width: 550px) {
                font-size: 40px;
                line-height: 70px;
            }

        }

        img {
            height: 610px;
            object-fit: cover;
            filter: blur(4px);
        }
    }
}

// s2

.s2 {
    margin-top: 100px;
    margin-bottom: 150px;

    .container {
        @include myContainer(1200px);
    }

    .flex-content {
        display: flex;
        justify-content: space-between;

        @media (max-width: 951px) {
            flex-direction: column;
            align-items: center;
        }


        h1 {
            color: white;
            font-size: 50px;
            font-weight: 600;
            max-width: 390px;
            width: 100%;
            margin-bottom: 60px;
            line-height: 52px;

            @media (max-width: 550px) {
                font-size: 40px;

            }
        }

        p {
            color: white;
            max-width: 443px;
            width: 100%;
            font-size: 18px;
            margin-bottom: 30px;
            line-height: 23px;

            @media (max-width: 550px) {
                font-size: 14px;

            }
        }


        button {
            padding: 14px 24px;
            border-radius: 24px;
            background-color: #2945FF;
            border: 1px solid #2945FF;
            color: white;
            cursor: pointer;
            transition: all 0.15s;

            &:hover {
                background-color: #1d32ba;
                border: 1px solid white;
            }

            @media (max-width: 951px) {
                margin-bottom: 100px;
            }

        }

        .image-container {
            position: relative;
            max-width: 465px;
            width: 100%;
            height: 390px;

            @media (max-width: 550px) {
                max-width: 300px;
                height: 300px;
            }

            .game-awards {
                max-width: 465px;
                width: 100%;
                object-fit: cover;
                border-radius: 20px;
                height: 390px;
                position: static;

                @media (max-width: 550px) {
                    max-width: 300px;
                    height: 300px;
                }
            }

            .dots1 {
                position: absolute;
                left: -20px;
                top: -20px;
                max-width: 124px;
                width: 100%;
                z-index: -1;

                @media (max-width: 550px) {
                    max-width: 100px;
                }
            }

            .dots2 {
                position: absolute;
                bottom: -20px;
                right: -20px;
                max-width: 124px;
                width: 100%;
                z-index: -1;

                @media (max-width: 550px) {
                    max-width: 100px;
                }
            }
        }

    }
}

.years-container {
    @include myContainer(700px);
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;

    h1 {
        color: white;
        margin-bottom: 200px;
        font-size: 60px;

        @media (max-width: 700px) {
            font-size: 40px;
            margin-left: 20px;
            margin-bottom: 240px;
        }
    }

    .years-div1 {
        position: relative;
        max-width: 220px;
        height: 200px;
        border-radius: 20px;
        width: 100%;
        text-align: center;
        background-color: rgba(29, 29, 29, );
        transition: all 0.5s;
        cursor: pointer;
        margin-right: 50px;
        margin-bottom: 100px;

        @media (max-width: 700px) {
            margin-left: 50px;
            max-width: 100px;
            height: 100px;
        }

        img {
            max-width: 220px;
            height: 200px;
            border-radius: 20px;
            width: 100%;
            object-fit: cover;

            @media (max-width: 700px) {
                max-width: 100px;
                height: 100px;
            }
        }

        &:hover {
            transform: scale(1.05);
        }

        &:hover .box {
            right: -85%;
            top: -70%;
            width: 600px;
            height: 500px;

            @media (max-width: 700px) {
                right: -100%;
                top: -185%;
                width: 300px;
                height: 500px;
            }
        }

        &:hover .box h5 {
            opacity: 1;
            z-index: 10000;
        }

        .box {
            position: absolute;
            height: 200px;
            float: right;
            width: 220px;
            background-color: #2946ff50;
            border-radius: 20px;
            top: -20px;
            right: -20px;
            opacity: 0.7;
            transition: all 0.5s;
            z-index: -2;
            display: flex;
            justify-content: center;
            overflow-y: scroll;
            text-align: center;
            scroll-snap-type: y mandatory;

            @media (max-width: 700px) {
                width: 100px;
                height: 100px;
            }

            &::-webkit-scrollbar {
                display: none;
            }


            h5 {
                font-size: 40px;
                color: white;
                position: absolute;
                opacity: 0;
                padding: 20px;
                transition: all 0.5s;

                a {
                    color: white;
                }

                @media (max-width: 700px) {
                    font-size: 25px;
                }
            }

            .years-text1 {
                left: 30px;
                top: 30px;
                border-radius: 20px;
                border-bottom-right-radius: 0px;

                @media (max-width: 700px) {
                    left: 0px;
                }

                &:hover {
                    background-color: rgba(29, 29, 29, 0.328);
                }
            }

            .years-text2 {
                left: 30px;
                top: 200px;
                border-radius: 20px;
                border-top-right-radius: 100%;
                border-bottom-right-radius: 100%;

                @media (max-width: 700px) {
                    left: 0px;
                }


                &:hover {
                    background-color: rgba(29, 29, 29, 0.328);
                }
            }

            .years-text3 {
                left: 30px;
                top: 380px;
                border-radius: 20px;
                border-top-right-radius: 0px;

                @media (max-width: 700px) {
                    left: 0px;
                }


                &:hover {
                    background-color: rgba(29, 29, 29, 0.328);
                }
            }

            .years-text4 {
                top: 380px;
                border-radius: 20px;
                border-top-right-radius: 100%;
                border-top-left-radius: 100%;

                &:hover {
                    background-color: rgba(29, 29, 29, 0.328);
                }
            }

            .years-text5 {
                right: 30px;
                top: 380px;
                border-radius: 20px;
                border-top-left-radius: 0px;

                @media (max-width: 700px) {
                    right: 0px;
                }


                &:hover {
                    background-color: rgba(29, 29, 29, 0.328);
                }
            }

            .years-text6 {
                right: 30px;
                top: 200px;
                border-radius: 20px;

                @media (max-width: 700px) {
                    right: 0px;
                }

                border-top-left-radius: 100%;
                border-bottom-left-radius: 100%;

                &:hover {
                    background-color: rgba(29, 29, 29, 0.328);
                }
            }

            .years-text7 {
                right: 30px;
                top: 30px;
                border-radius: 20px;
                border-bottom-left-radius: 0px;

                @media (max-width: 700px) {
                    right: 0px;
                }

                &:hover {
                    background-color: rgba(29, 29, 29, 0.328);
                }
            }

            .years-text8 {
                top: 60px;
                border-radius: 20px;
                border-bottom-left-radius: 100%;
                border-bottom-right-radius: 100%;

                &:hover {
                    background-color: rgba(29, 29, 29, 0.328);
                }
            }

            .years-text9 {
                top: 0px;
                border-radius: 20px;
                border-top-left-radius: 100%;
                border-top-right-radius: 100%;

                &:hover {
                    background-color: rgba(29, 29, 29, 0.328);
                }
            }
        }
    }
}